/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two{
    display: flex;
}

.two div:last-child{
    margin-left: auto;
}

.three{
    display: flex;
}

.three ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.three li{
    margin: 20px;
}
.three div{
    display: flex;
    margin-left: auto;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.five{
    display: flex;
    flex-wrap: wrap;
}

article{
    flex-basis: 300px;
    flex-grow: 1;
    flex-shrink: 0;
}